<span style="{{EMAIL_INLINE_CSS_STYLE}}">

    {% for feed_title, records in feeds %}

    <div style="font-size: 24px; font-weight: bold; margin-top: 25px">
        {{ feed_title|e }}
    </div>

    {% for record in records %}

    {% if "overall_summary" in record %}

        <span>
            <p><b>Overall Summary:</b> {{ record['overall_summary']|wordwrap|e }}</p>
        </span>

    {% else %}

        <div style="padding-top: 10px">
            <div>
                <b>
                    {% if 'url' in record %}
                        <a href="{{ record['url']|e }}">
                    {% endif %}
                        {{ record['title']|e }}
                    {% if 'url' in record %}
                        </a>
                    {% endif %}
                </b>
                {% if 'domain' in record %}
                    [{{ record['domain']|e }}]
                {% endif %}
            </div>
            <div>{{ record['published']|e }}</div>
        </div>
        <span>
            <p>{{ record['summary']|wordwrap|e }}</p>

            {% if record["notable_aspects"] %}
            <p>Of Interest: {{ record["notable_aspects"]|wordwrap|e }}</p>
            {% endif %}

            {% if record["relevance"] %}
            <p>
                Relevance: {{ record["relevance"]|wordwrap|e }}
                {% if record["relevance_explanation"] %}
                — {{ record["relevance_explanation"]|wordwrap|e }}
                {% endif %}
            </p>
            {% endif %}
        </span>

    {% endif %}

    {% endfor %}

    {% if not loop.last %}
    <hr>
    {% endif %}

    {% endfor %}

</span>
