boto3==1.40.55
botocore==1.40.55
httpx==0.28.1
Jinja2==3.1.6
jmespath==1.0.1
openai==2.5.0
MarkupSafe==3.0.3
pydantic==2.12.3
pydantic_core==2.41.4
python-dateutil==2.9.0.post0
s3transfer==0.14.0
six==1.17.0
urllib3==2.5.0
google-genai==1.45.0
